@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Visit <a href="https://yogeshhadiya.in" target="_blank">YogeshHadiya.in</a> for more.</p>
</div>
